[package]
name = "kubit"
version = "0.1.0"
license = "MIT"
edition = "2021"
keywords = ["kubernetes"]
repository = "https://github.com/kubecfg/kubit"
authors = ["Marko Mikulicic <mmikulicic@gmail.com>"]
description = "Install kubecfg packages"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.1", features = ["derive", "help", "env", "std"] }
futures = "0.3"
kube = { version = "0.80.0", features = ["runtime", "client", "derive"] }
k8s-openapi = { version = "0.17.0", features = ["v1_26"] }
kubert = { version = "0.16.1", features = ["clap", "runtime", "server"] }
tokio = { version = "1.26", features = ["full"] }
anyhow = { version = "1", features = ["backtrace"] } 
tracing = "0.1"
schemars = "0.8.12"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9.19"
jsonpath_lib = "0.3.0"
thiserror = "1"
