[package]
name = "kubit"
version = "0.0.5"
license = "MIT"
edition = "2021"
keywords = ["kubernetes"]
repository = "https://github.com/kubecfg/kubit"
authors = ["Marko Mikulicic <mmikulicic@gmail.com>"]
description = "Install kubecfg packages"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.3", features = ["derive", "help", "env", "std"] }
futures = "0.3"
kube = { version = "0.83.0", features = ["runtime", "client", "derive"] }
k8s-openapi = { version = "0.18.0", features = ["v1_26"] }
# We cannot bump kube-res past 0.82.0 until this PR is merged: https://github.com/olix0r/kubert/pull/163
# until then we can use this fork (I reviewed it and pinned the commit).
# I cherry-picked the commit on top of v0.16.1
kubert = { git = "https://github.com/kubecfg/kubert", features = ["clap", "runtime", "server", "metrics"], rev="277222baaef82d53cbafdfb18cac559e346e1ce4" }
# kubert = { version = "0.16.1", features = ["clap", "runtime", "server"] }
tokio = { version = "1.31", features = ["full"] }
anyhow = { version = "1", features = ["backtrace"] } 
tracing = "0.1"
schemars = "0.8.12"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9.25"
jsonpath_lib = "0.3.0"
thiserror = "1"
oci-distribution = "0.9.4"
tempfile = "3"
yash-quote = "1"
tynm = "0.1.8"
itertools = "0.11.0"
base64 = "0.21.2"
assert_matches = "1.5.0"
