name: Rust

on:
  push:
    branches: ["main"]
    tags:
      - v*.*.*
  pull_request:
    branches: ["main"]
env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
      - uses: Swatinem/rust-cache@578b235f6e5f613f7727f1c17bd3305b4d4d4e1f # v2
      - name: Format
        run: cargo fmt --all --check
      - name: Lint
        run: cargo clippy -- -D warnings
      - name: Build
        run: cargo build
      - name: Generate
        run: cargo run -- manifests --crd-dir kustomize/crd/bases
      - name: Diff
        run: test -z "$(git status --porcelain)" || (echo 'Changes detected after generating manifests'; git status; git --no-pager diff; false)
      - name: Run tests
        run: cargo test

  pack:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write
      # Allows pushing to the GitHub Container Registry
      packages: write

    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
      - name: Set up Depot Docker Build
        uses: depot/setup-action@b6821033ac2e40632f45def8e8a4f158c6f60980 # v1
      - name: Login to GHCR
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: github.event_name != 'pull_request'

      - name: Build
        uses: depot/build-push-action@39acb3f766a908058e746f5c7a166f73e4cdcb17 # v1
        with:
          project: v8n5whjnsb
          context: .
          platforms: linux/amd64,linux/arm64
          push: false
          tags: ghcr.io/kubecfg/kubit:latest
      - name: Push
        uses: depot/build-push-action@39acb3f766a908058e746f5c7a166f73e4cdcb17 # v1
        with:
          project: v8n5whjnsb
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/kubecfg/kubit:latest
        if: github.event_name != 'pull_request'

  release:

    # Allow depot permissions to GHCR
    permissions:
      contents: read
      id-token: write
      packages: write

    needs: [pack, build]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
      - name: Set up Depot Docker Build
        uses: depot/setup-action@b6821033ac2e40632f45def8e8a4f158c6f60980 # v1
      - name: Login to GHCR
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: release_image
        uses: depot/build-push-action@39acb3f766a908058e746f5c7a166f73e4cdcb17 # v1
        with:
          project: v8n5whjnsb
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/kubecfg/kubit:${{ github.ref_name }}
